<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="login">
    <div id="header">
        <p id="login_logo"><img src=""></p>
    </div>

    <div id="content">
        <div class="login_info">
            <div class="username">
                <img src=""/>
                <input type="text" id="username" value="" placeholder="用户名"/>
            </div>
            <div class="password">
                <img src=""/>
                <input type="password" id="password" value="" placeholder="密码"/>
            </div>
            <button id="login_button">登 录</button>
        </div>
    </div>
</div>
</body>
</html>